// register form
.col-md-6{
    margin-top: 60px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
    // background: #ffffff;
}

.col-md{
    margin-top: 60px;
}

// .col-md-5{
//     position: absolute;
//     top: 0;
//     // right: 0;
//     left: 0;
//     bottom: 0;
//     background-image: linear-gradient(80deg, #654ea3, #eaafc8); 	
//     transform: skewY(-8deg);
// }

// .content { 	
	// max-width: 50em;
    // margin: 0 auto;
    // position: relative;
// }