// login
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  background-color: #f1f1f6;
  border-radius: 50px;
}

// login header
.login_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cover {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

// submit
// .btn btn-primary{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center
// }

// .login{
//   background-color: #ffffff;
// }

// submit button
// .btn btn-primary{
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }
