<div class="home">

<div class="home__container">
     <div class="home__heading">
        <h1 class="text-muted">Hello world</h1>
        <h2 class="text-muted">Lorem ipsum dolor sit amet conse...</h2>
    </div>

    <div class="home__filter">
        <Filter></Filter>
    </div>
</div>

</div>

<div class="home__jobs">
    <div class="container">
        <div class="row">
            <div class="col-md-3" *ngFor="let item of [1, 2, 3, 4]">
                <Job></Job>
            </div>
        </div>
    </div>
</div>

