.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   height: 100vh;

  .home__container {
    margin-top: 5px;
  }
}

.home__jobs {
  height: 100vh;
  padding-top: 20px;
  background: #ffffff;
}
