.box {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 380px;
  border-radius: 1rem;
  background-color: #F1F1F6;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.box:hover::after {
    opacity: 1;
}


.job {

  display: flex;
  flex-direction: column;
  padding: 60px 20px 10px;

  .job__img img {
    width: 180px;
    margin: 0 auto;
  }


  .job__header {
    font-weight: bolder;
    margin-top: 25px;
  }

  .job__content {
    font-size: 13px;
    margin-top: 10px;

  }

  .job__footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    margin: 10px;

    button {
      &:hover {
        background-color: #FA9B64 !important;
      }
    }

  }

}
